<div class="px-5 py-6">
  <div class="notification is-secondary is-light">
    <div class="is-flex">
      <div class="mr-2">
        <span class="has-text-secondary is-inline-block">
          <span class="icon is-large">
            <ion-icon name="terminal-outline" size="large"></ion-icon>
          </span>
        </span>
      </div>
      <div>
        <h3 class="mb-2 is-size-5 has-text-weight-bold">
          {{#if title}}
            {{title}}
          {{else}}
            No records yet
          {{/if}}
        </h3>
        <p class="is-size-6">
          {{#if description}}
            {{description}}
          {{else}}
            There aren't any records available here yet
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>