<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>CodeChallenge.dev</strong>
      version
      <code title="BASE_URL: {{BASE_URL}}">{{version}}</code>
      by
      <a href="https://about.gitlab.com">GitLab</a>.
    </p>
    <p>
      The source code is licensed
      <a
        href="https://gitlab.com/gitlab-de/codechallenge/-/blob/main/LICENSE"
      >MIT</a>
    </p>
  </div>
</footer>