<div id="clientError" class="px-5 py-6" style="display: none;">
  <div class="notification is-warning">
    <div class="is-flex">
      <div class="mr-2">
        <span class="has-text-warning-light is-inline-block">
          <ion-icon name="alert-circle-outline" size="large"></ion-icon>
        </span>
      </div>
      <div>
        <h3 id="clientErrorTitle" class="mb-2 is-size-5 has-text-weight-bold">
          Something went wrong
        </h3>
        <p id="clientErrorMessage" class="is-size-6">
          Something went wrong with that operation. Please try again.
        </p>
      </div>
    </div>
    <button id="clientErrorClose" class="delete is-small"></button>
  </div>
</div>

<div id="generalUpdate" class="px-5 py-6" style="display: none;">
  <div class="notification is-success">
    <div class="is-flex">
      <div class="mr-2">
        <span class="has-text-success-light is-inline-block">
          <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
        </span>
      </div>
      <div>
        <h3 id="" class="mb-2 is-size-5 has-text-weight-bold">
          Record saved
        </h3>
      </div>
    </div>
    <button id="generalUpdateClose" class="delete is-small"></button>
  </div>
</div>