<div
  class="pt-1 pb-6 px-5 has-background-primary has-text-centered"
  style="border-radius: 10px;"
>
  <div class="columns is-multiline">
    <div class="column mb-1 mb-0-tablet py-12 has-text-left">
      <h2 class="mb-2 is-size-3 has-text-weight-semibold">
        {{#if cardTitle}}
          <span class="has-text-light">
            {{cardTitle}}
          </span>
        {{else}}
          <span class="has-text-white">You're invited to a </span>
          <span class="has-text-warning">Code Challenge</span>
        {{/if}}
      </h2>
      <p class="has-text-light is-size-4 mb-4">
        You're invited to join
        <span class="tag is-warning is-large">{{name}}</span>
        {{#unless hideBrand}}
        <br/>
            on
          <code>CodeChallenge.dev</code>
        {{/unless}}
      </p>
      <div class="has-text-light is-size-6 mb-4">
        {{> permission_prompt}}
      </div>
      <a
        class="button is-warning is-large is-inline-flex is-align-items-center"
        href="/app/challenge/{{id}}?frominvite=true"
      >
        <span class="mr-2 icon is-large">
          <ion-icon
            name="chevron-forward-circle-outline"
            size="large"
          ></ion-icon>
        </span>
        <span>Join now!</span>
      </a>
    </div>
    {{#unless hideImage}}
      <div class="column is-4 is-relative">
        <img
          class="mx-auto my-5 image"
          src="/img/undraw_programmer_re_owql.svg"
          alt="alt"
        />
      </div>
    {{/unless}}
  </div>
</div>