<div id="modalJoin" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Join Challenge
            </p>
            <button id="btnModalClose" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="box has-background-white-ter">
                <h3 class="has-text-centered mt-4 mb-4 is-size-4 has-text-weight-bold">
                    Do you want to join the GitLab Code Challenge <br/>
                    <span class="tag is-primary is-large">{{name}}</span>?
                </h3>
                <form class="mx-5" method="get" action="/app/challenge/{{id}}/join">
                    <div class="field">
                        <label class="label">First Name, Last Inital</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Grace H." aria-required="true" required>
                        </div>
                    </div>

                    {{#if rules}}
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" name="agree" required>
                            I agree to the <a href="{{rules}}" target="_blank">terms and conditions</a>
                        </label>
                    </div>
                    {{/if}}

                    <div class="field has-text-centered">
                        <div class="control">
                            <button class="button is-primary is-large">I'm in!</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button id="btnModalCancel" class="button">Cancel</button>
        </footer>
    </div>
</div>