<nav class="level is-mobile">
  {{#each levels}}
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Level {{this.level}}</p>
        <p class="title">
          {{#if myComplete}}
            <span class="icon has-text-primary">
              ✅
            </span>
          {{else}}
            <span class="icon">
              <ion-icon name="square-outline"></ion-icon>
            </span>
          {{/if}}
        </p>
      </div>
    </div>
  {{/each}}
</nav>