{{#if proj_avatar_url}}
  <figure class="image is-48x48">
    <img src="{{proj_avatar_url}}" alt="Avatar for {{projectname}} project" />
  </figure>
{{else}}
  <span class="tag is-{{#if color}}{{color}}{{else}}warning{{/if}} is-square is-large">
    <ion-icon
      name="{{genericAvatar path_with_namespace}}"
      size="large"
    ></ion-icon>
  </span>
{{/if}}