<div class="box has-text-centered">
  <span class="has-text-{{#if color}}{{color}}{{else}}primary{{/if}} icon is-large is-hidden-mobile">
    <ion-icon name="{{icon}}" size="large"></ion-icon>
  </span>
  <h3 class="mt-1 is-size-3 has-text-weight-bold">
    {{#if number}}
      {{formatnumber number}}
    {{else}}
      0
    {{/if}}
  </h3>
  <p class="is-size-6 has-text-weight-medium has-text-grey">
    {{#if level}}
      Level
      {{level}}
      <span class="is-hidden-mobile">Completed</span>
    {{else}}
      {{title}}
    {{/if}}
  </p>
</div>