<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="box">
          <div class="mb-4 is-flex is-align-items-center">
            <svg class="has-text-primary mr-2" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.00013 0.666656C7.90578 0.666656 6.82215 0.882205 5.8111 1.30099C4.80006 1.71978 3.8814 2.33361 3.10758 3.10743C1.54477 4.67024 0.666799 6.78985 0.666799 8.99999C0.659514 10.9243 1.32579 12.7904 2.55013 14.275L0.883466 15.9417C0.767834 16.0588 0.689504 16.2077 0.658359 16.3693C0.627214 16.531 0.64465 16.6982 0.708466 16.85C0.777681 16.9999 0.889886 17.1259 1.03084 17.212C1.17179 17.298 1.33513 17.3403 1.50013 17.3333H9.00013C11.2103 17.3333 13.3299 16.4553 14.8927 14.8925C16.4555 13.3297 17.3335 11.2101 17.3335 8.99999C17.3335 6.78985 16.4555 4.67024 14.8927 3.10743C13.3299 1.54463 11.2103 0.666656 9.00013 0.666656ZM9.00013 15.6667H3.50847L4.28347 14.8917C4.43868 14.7355 4.52579 14.5243 4.52579 14.3042C4.52579 14.084 4.43868 13.8728 4.28347 13.7167C3.19229 12.6267 2.51278 11.1921 2.36071 9.65732C2.20864 8.12253 2.59342 6.58249 3.44949 5.29959C4.30556 4.01669 5.57996 3.07029 7.05556 2.62163C8.53117 2.17298 10.1167 2.24983 11.542 2.83908C12.9673 3.42834 14.1442 4.49355 14.8722 5.85323C15.6002 7.21291 15.8342 8.78294 15.5344 10.2958C15.2346 11.8087 14.4196 13.1709 13.2281 14.1502C12.0366 15.1295 10.5424 15.6654 9.00013 15.6667ZM13.1668 8.16666H4.83347C4.61245 8.16666 4.40049 8.25445 4.24421 8.41073C4.08793 8.56701 4.00013 8.77898 4.00013 8.99999C4.00013 9.221 4.08793 9.43296 4.24421 9.58924C4.40049 9.74553 4.61245 9.83332 4.83347 9.83332H13.1668C13.3878 9.83332 13.5998 9.74553 13.7561 9.58924C13.9123 9.43296 14.0001 9.221 14.0001 8.99999C14.0001 8.77898 13.9123 8.56701 13.7561 8.41073C13.5998 8.25445 13.3878 8.16666 13.1668 8.16666ZM11.5001 11.5H6.50013C6.27912 11.5 6.06716 11.5878 5.91088 11.7441C5.7546 11.9003 5.6668 12.1123 5.6668 12.3333C5.6668 12.5543 5.7546 12.7663 5.91088 12.9226C6.06716 13.0789 6.27912 13.1667 6.50013 13.1667H11.5001C11.7211 13.1667 11.9331 13.0789 12.0894 12.9226C12.2457 12.7663 12.3335 12.5543 12.3335 12.3333C12.3335 12.1123 12.2457 11.9003 12.0894 11.7441C11.9331 11.5878 11.7211 11.5 11.5001 11.5ZM6.50013 6.49999H11.5001C11.7211 6.49999 11.9331 6.41219 12.0894 6.25591C12.2457 6.09963 12.3335 5.88767 12.3335 5.66666C12.3335 5.44564 12.2457 5.23368 12.0894 5.0774C11.9331 4.92112 11.7211 4.83332 11.5001 4.83332H6.50013C6.27912 4.83332 6.06716 4.92112 5.91088 5.0774C5.7546 5.23368 5.6668 5.44564 5.6668 5.66666C5.6668 5.88767 5.7546 6.09963 5.91088 6.25591C6.06716 6.41219 6.27912 6.49999 6.50013 6.49999Z" fill="currentColor"></path>
            </svg>
            <h3 class="is-size-6">Responses</h3>
            <span class="ml-auto tag is-primary is-light has-text-grey">30 Days</span>
          </div>
          <h3 class="mb-4 is-size-3 has-text-weight-bold">1 450</h3>
          <div class="has-text-danger">
            <span class="mr-2 is-inline-block">
              <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 4.16667C16.3906 4.16661 16.2822 4.18812 16.181 4.22998C16.0799 4.27183 15.988 4.33322 15.9106 4.41061C15.8332 4.488 15.7719 4.57989 15.73 4.68103C15.6881 4.78216 15.6666 4.89055 15.6667 5V7.15495L10.4225 1.91084C10.3452 1.83344 10.2533 1.77204 10.1522 1.73015C10.0511 1.68825 9.94277 1.66669 9.83333 1.66669C9.7239 1.66669 9.61554 1.68825 9.51445 1.73015C9.41335 1.77204 9.3215 1.83344 9.24414 1.91084L6.50002 4.65495L2.08919 0.244171C1.93245 0.0902454 1.72127 0.00444584 1.50159 0.00544068C1.28191 0.00643553 1.07151 0.094144 0.91617 0.249483C0.760831 0.404822 0.673123 0.61522 0.672128 0.8349C0.671133 1.05458 0.756932 1.26576 0.910858 1.4225L5.91086 6.4225C5.98822 6.4999 6.08007 6.5613 6.18116 6.60319C6.28226 6.64508 6.39062 6.66665 6.50005 6.66665C6.60948 6.66665 6.71784 6.64508 6.81893 6.60319C6.92003 6.5613 7.01188 6.4999 7.08924 6.4225L9.83336 3.67839L14.4883 8.33334H12.3334C12.1123 8.33334 11.9004 8.42113 11.7441 8.57741C11.5878 8.7337 11.5 8.94566 11.5 9.16667C11.5 9.38768 11.5878 9.59965 11.7441 9.75593C11.9004 9.91221 12.1123 10 12.3334 10H16.5C16.6095 10.0001 16.7179 9.97855 16.819 9.9367C16.9201 9.89484 17.012 9.83346 17.0894 9.75607C17.1668 9.67867 17.2282 9.58678 17.2701 9.48565C17.3119 9.38452 17.3334 9.27612 17.3334 9.16667V5C17.3334 4.89055 17.3119 4.78216 17.2701 4.68103C17.2282 4.57989 17.1668 4.488 17.0894 4.41061C17.012 4.33322 16.9201 4.27183 16.819 4.22998C16.7179 4.18812 16.6095 4.16661 16.5 4.16667Z" fill="#E85444"></path>
              </svg>
            </span>
            <span class="is-size-7">25% less</span>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <div class="mb-4 is-flex is-align-items-center">
            <svg class="has-text-primary mr-2" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.8334 3.41668H12.3334V2.58334C12.3334 1.9203 12.07 1.28442 11.6012 0.815577C11.1323 0.346736 10.4965 0.0833435 9.83342 0.0833435H8.16675C7.50371 0.0833435 6.86782 0.346736 6.39898 0.815577C5.93014 1.28442 5.66675 1.9203 5.66675 2.58334V3.41668H3.16675C2.50371 3.41668 1.86782 3.68007 1.39898 4.14891C0.93014 4.61775 0.666748 5.25363 0.666748 5.91668V13.4167C0.666748 14.0797 0.93014 14.7156 1.39898 15.1844C1.86782 15.6533 2.50371 15.9167 3.16675 15.9167H14.8334C15.4965 15.9167 16.1323 15.6533 16.6012 15.1844C17.07 14.7156 17.3334 14.0797 17.3334 13.4167V5.91668C17.3334 5.25363 17.07 4.61775 16.6012 4.14891C16.1323 3.68007 15.4965 3.41668 14.8334 3.41668ZM7.33342 2.58334C7.33342 2.36233 7.42121 2.15037 7.57749 1.99409C7.73377 1.83781 7.94573 1.75001 8.16675 1.75001H9.83342C10.0544 1.75001 10.2664 1.83781 10.4227 1.99409C10.579 2.15037 10.6667 2.36233 10.6667 2.58334V3.41668H7.33342V2.58334ZM15.6667 13.4167C15.6667 13.6377 15.579 13.8497 15.4227 14.0059C15.2664 14.1622 15.0544 14.25 14.8334 14.25H3.16675C2.94573 14.25 2.73377 14.1622 2.57749 14.0059C2.42121 13.8497 2.33341 13.6377 2.33341 13.4167V8.83334C3.14628 9.15577 3.9819 9.41759 4.83342 9.61668V10.1083C4.83342 10.3294 4.92121 10.5413 5.07749 10.6976C5.23377 10.8539 5.44573 10.9417 5.66675 10.9417C5.88776 10.9417 6.09972 10.8539 6.256 10.6976C6.41228 10.5413 6.50008 10.3294 6.50008 10.1083V9.93334C7.3287 10.0462 8.16382 10.1046 9.00008 10.1083C9.83634 10.1046 10.6715 10.0462 11.5001 9.93334V10.1083C11.5001 10.3294 11.5879 10.5413 11.7442 10.6976C11.9004 10.8539 12.1124 10.9417 12.3334 10.9417C12.5544 10.9417 12.7664 10.8539 12.9227 10.6976C13.079 10.5413 13.1667 10.3294 13.1667 10.1083V9.61668C14.0183 9.41759 14.8539 9.15577 15.6667 8.83334V13.4167ZM15.6667 7.00834C14.8562 7.35042 14.0204 7.62904 13.1667 7.84168V7.58334C13.1667 7.36233 13.079 7.15037 12.9227 6.99409C12.7664 6.83781 12.5544 6.75001 12.3334 6.75001C12.1124 6.75001 11.9004 6.83781 11.7442 6.99409C11.5879 7.15037 11.5001 7.36233 11.5001 7.58334V8.20001C9.84279 8.45004 8.15737 8.45004 6.50008 8.20001V7.58334C6.50008 7.36233 6.41228 7.15037 6.256 6.99409C6.09972 6.83781 5.88776 6.75001 5.66675 6.75001C5.44573 6.75001 5.23377 6.83781 5.07749 6.99409C4.92121 7.15037 4.83342 7.36233 4.83342 7.58334V7.85834C3.97977 7.6457 3.14392 7.36709 2.33341 7.02501V5.91668C2.33341 5.69566 2.42121 5.4837 2.57749 5.32742C2.73377 5.17114 2.94573 5.08334 3.16675 5.08334H14.8334C15.0544 5.08334 15.2664 5.17114 15.4227 5.32742C15.579 5.4837 15.6667 5.69566 15.6667 5.91668V7.00834Z" fill="currentColor"></path>
            </svg>
            <h3 class="is-size-6">Projects</h3>
            <span class="ml-auto tag is-primary is-light has-text-grey">30 Days</span>
          </div>
          <h3 class="mb-4 is-size-3 has-text-weight-bold">54</h3>
          <div class="has-text-success">
            <span class="mr-2 is-inline-block">
              <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 5.83333C16.3906 5.83339 16.2822 5.81188 16.181 5.77002C16.0799 5.72817 15.988 5.66678 15.9106 5.58939C15.8332 5.512 15.7719 5.42011 15.73 5.31897C15.6881 5.21784 15.6666 5.10945 15.6667 5V2.84505L10.4225 8.08916C10.3452 8.16656 10.2533 8.22796 10.1522 8.26985C10.0511 8.31175 9.94277 8.33331 9.83333 8.33331C9.7239 8.33331 9.61554 8.31175 9.51445 8.26985C9.41335 8.22796 9.3215 8.16656 9.24414 8.08916L6.50002 5.34505L2.08919 9.75583C1.93245 9.90975 1.72127 9.99555 1.50159 9.99456C1.28191 9.99356 1.07151 9.90586 0.91617 9.75052C0.760831 9.59518 0.673123 9.38478 0.672128 9.1651C0.671133 8.94542 0.756932 8.73424 0.910858 8.5775L5.91086 3.5775C5.98822 3.5001 6.08007 3.4387 6.18116 3.39681C6.28226 3.35492 6.39062 3.33335 6.50005 3.33335C6.60948 3.33335 6.71784 3.35492 6.81893 3.39681C6.92003 3.4387 7.01188 3.5001 7.08924 3.5775L9.83336 6.32161L14.4883 1.66666H12.3334C12.1123 1.66666 11.9004 1.57887 11.7441 1.42259C11.5878 1.2663 11.5 1.05434 11.5 0.833329C11.5 0.612315 11.5878 0.400352 11.7441 0.244073C11.9004 0.0877924 12.1123 -4.76837e-06 12.3334 -4.76837e-06H16.5C16.6095 -6.67572e-05 16.7179 0.0214453 16.819 0.063302C16.9201 0.105159 17.012 0.166539 17.0894 0.243935C17.1668 0.321329 17.2282 0.413218 17.2701 0.514352C17.3119 0.615484 17.3334 0.723876 17.3334 0.833329V5C17.3334 5.10945 17.3119 5.21784 17.2701 5.31897C17.2282 5.42011 17.1668 5.512 17.0894 5.58939C17.012 5.66678 16.9201 5.72817 16.819 5.77002C16.7179 5.81188 16.6095 5.83339 16.5 5.83333Z" fill="#17BB84"></path>
              </svg>
            </span>
            <span class="is-size-7">25% more</span>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <div class="mb-4 is-flex is-align-items-center">
            <svg class="has-text-primary mr-2" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.6666 6.44999C13.6579 6.37344 13.6411 6.29802 13.6166 6.22499V6.14999C13.5765 6.06431 13.5231 5.98554 13.4583 5.91666L8.45825 0.916656C8.38936 0.851837 8.3106 0.798391 8.22492 0.758323H8.14992C8.06526 0.709774 7.97177 0.67861 7.87492 0.666656H2.83325C2.17021 0.666656 1.53433 0.930049 1.06548 1.39889C0.596644 1.86773 0.333252 2.50362 0.333252 3.16666V14.8333C0.333252 15.4964 0.596644 16.1322 1.06548 16.6011C1.53433 17.0699 2.17021 17.3333 2.83325 17.3333H11.1666C11.8296 17.3333 12.4655 17.0699 12.9344 16.6011C13.4032 16.1322 13.6666 15.4964 13.6666 14.8333V6.49999C13.6666 6.49999 13.6666 6.49999 13.6666 6.44999ZM8.66658 3.50832L10.8249 5.66666H9.49992C9.2789 5.66666 9.06694 5.57886 8.91066 5.42258C8.75438 5.2663 8.66658 5.05434 8.66658 4.83332V3.50832ZM11.9999 14.8333C11.9999 15.0543 11.9121 15.2663 11.7558 15.4226C11.5996 15.5789 11.3876 15.6667 11.1666 15.6667H2.83325C2.61224 15.6667 2.40028 15.5789 2.244 15.4226C2.08772 15.2663 1.99992 15.0543 1.99992 14.8333V3.16666C1.99992 2.94564 2.08772 2.73368 2.244 2.5774C2.40028 2.42112 2.61224 2.33332 2.83325 2.33332H6.99992V4.83332C6.99992 5.49636 7.26331 6.13225 7.73215 6.60109C8.20099 7.06993 8.83688 7.33332 9.49992 7.33332H11.9999V14.8333Z" fill="#382CDD"></path>
            </svg>
            <h3 class="is-size-6">Reports</h3>
            <span class="ml-auto tag is-primary is-light has-text-grey">30 Days</span>
          </div>
          <h3 class="mb-4 is-size-3 has-text-weight-bold">492</h3>
          <div class="has-text-success">
            <span class="mr-2 is-inline-block">
              <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 5.83333C16.3906 5.83339 16.2822 5.81188 16.181 5.77002C16.0799 5.72817 15.988 5.66678 15.9106 5.58939C15.8332 5.512 15.7719 5.42011 15.73 5.31897C15.6881 5.21784 15.6666 5.10945 15.6667 5V2.84505L10.4225 8.08916C10.3452 8.16656 10.2533 8.22796 10.1522 8.26985C10.0511 8.31175 9.94277 8.33331 9.83333 8.33331C9.7239 8.33331 9.61554 8.31175 9.51445 8.26985C9.41335 8.22796 9.3215 8.16656 9.24414 8.08916L6.50002 5.34505L2.08919 9.75583C1.93245 9.90975 1.72127 9.99555 1.50159 9.99456C1.28191 9.99356 1.07151 9.90586 0.91617 9.75052C0.760831 9.59518 0.673123 9.38478 0.672128 9.1651C0.671133 8.94542 0.756932 8.73424 0.910858 8.5775L5.91086 3.5775C5.98822 3.5001 6.08007 3.4387 6.18116 3.39681C6.28226 3.35492 6.39062 3.33335 6.50005 3.33335C6.60948 3.33335 6.71784 3.35492 6.81893 3.39681C6.92003 3.4387 7.01188 3.5001 7.08924 3.5775L9.83336 6.32161L14.4883 1.66666H12.3334C12.1123 1.66666 11.9004 1.57887 11.7441 1.42259C11.5878 1.2663 11.5 1.05434 11.5 0.833329C11.5 0.612315 11.5878 0.400352 11.7441 0.244073C11.9004 0.0877924 12.1123 -4.76837e-06 12.3334 -4.76837e-06H16.5C16.6095 -6.67572e-05 16.7179 0.0214453 16.819 0.063302C16.9201 0.105159 17.012 0.166539 17.0894 0.243935C17.1668 0.321329 17.2282 0.413218 17.2701 0.514352C17.3119 0.615484 17.3334 0.723876 17.3334 0.833329V5C17.3334 5.10945 17.3119 5.21784 17.2701 5.31897C17.2282 5.42011 17.1668 5.512 17.0894 5.58939C17.012 5.66678 16.9201 5.72817 16.819 5.77002C16.7179 5.81188 16.6095 5.83339 16.5 5.83333Z" fill="#17BB84"></path>
              </svg>
            </span>
            <span class="is-size-7">12.5% more</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
<div class="">
  <div class="columns is-multiline">
    {{#each people}}
    <div class="column is-3-desktop is-6-tablet">
      <div class="card is-relative">
        <div class="card-content">
          <div class="content">
              <div class="columns">
                  <div class="column is-one-third">
                      <img class="mx-auto image is-64x64 is-cover" src="{{this.picture}}" alt="{{this.name}} profile picture" style="border-radius: 50% !important;">
                  </div>
                  <div class="column">
                      <h3 class="title is-size-5">
                          {{this.name}}
                      </h3>
                      <p class="subtitle is-size-6">
                          {{this.gitlab_handle}}
                      </p>
                  </div>
              </div>
          </div>
          <div class="content">
            <div class="is-flex mb-2 is-align-items-center">
              <svg class="has-text-primary mr-2" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 16px;height: 16px"><path d="M14.8332 3.41668H12.3332V2.58334C12.3332 1.9203 12.0698 1.28442 11.6009 0.815577C11.1321 0.346736 10.4962 0.0833435 9.83317 0.0833435H8.1665C7.50346 0.0833435 6.86758 0.346736 6.39874 0.815577C5.9299 1.28442 5.6665 1.9203 5.6665 2.58334V3.41668H3.1665C2.50346 3.41668 1.86758 3.68007 1.39874 4.14891C0.929896 4.61775 0.666504 5.25363 0.666504 5.91668V13.4167C0.666504 14.0797 0.929896 14.7156 1.39874 15.1844C1.86758 15.6533 2.50346 15.9167 3.1665 15.9167H14.8332C15.4962 15.9167 16.1321 15.6533 16.6009 15.1844C17.0698 14.7156 17.3332 14.0797 17.3332 13.4167V5.91668C17.3332 5.25363 17.0698 4.61775 16.6009 4.14891C16.1321 3.68007 15.4962 3.41668 14.8332 3.41668ZM7.33317 2.58334C7.33317 2.36233 7.42097 2.15037 7.57725 1.99409C7.73353 1.83781 7.94549 1.75001 8.1665 1.75001H9.83317C10.0542 1.75001 10.2661 1.83781 10.4224 1.99409C10.5787 2.15037 10.6665 2.36233 10.6665 2.58334V3.41668H7.33317V2.58334ZM15.6665 13.4167C15.6665 13.6377 15.5787 13.8497 15.4224 14.0059C15.2661 14.1622 15.0542 14.25 14.8332 14.25H3.1665C2.94549 14.25 2.73353 14.1622 2.57725 14.0059C2.42097 13.8497 2.33317 13.6377 2.33317 13.4167V9.20834H4.83317V10.0833C4.83317 10.3044 4.92097 10.5163 5.07725 10.6726C5.23353 10.8289 5.44549 10.9167 5.6665 10.9167C5.88752 10.9167 6.09948 10.8289 6.25576 10.6726C6.41204 10.5163 6.49984 10.3044 6.49984 10.0833V9.20834H11.4998V10.0833C11.4998 10.3044 11.5876 10.5163 11.7439 10.6726C11.9002 10.8289 12.1122 10.9167 12.3332 10.9167C12.5542 10.9167 12.7661 10.8289 12.9224 10.6726C13.0787 10.5163 13.1665 10.3044 13.1665 10.0833V9.20834H15.6665V13.4167ZM15.6665 7.58334H2.33317V5.91668C2.33317 5.69566 2.42097 5.4837 2.57725 5.32742C2.73353 5.17114 2.94549 5.08334 3.1665 5.08334H14.8332C15.0542 5.08334 15.2661 5.17114 15.4224 5.32742C15.5787 5.4837 15.6665 5.69566 15.6665 5.91668V7.58334Z" fill="currentColor"></path></svg><span class="is-size-6">Level 1</span>
            </div>
            <div class="is-flex mb-2 is-align-items-center">
              <svg class="has-text-primary mr-2" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 16px;height: 16px"><path d="M10.6413 9.65834C10.5396 9.61785 10.4308 9.5978 10.3213 9.59934C10.2118 9.60088 10.1036 9.62397 10.003 9.66731C9.90243 9.71064 9.81135 9.77337 9.73499 9.8519C9.65864 9.93043 9.5985 10.0232 9.55801 10.125C9.51752 10.2268 9.49747 10.3355 9.49901 10.4451C9.50054 10.5546 9.52364 10.6627 9.56697 10.7633C9.61031 10.8639 9.67303 10.955 9.75156 11.0314C9.8301 11.1077 9.9229 11.1678 10.0247 11.2083C11.2413 11.6917 11.9997 12.4417 11.9997 13.1667C11.9997 14.35 9.94967 15.6667 6.99967 15.6667C4.04967 15.6667 1.99967 14.35 1.99967 13.1667C1.99967 12.4417 2.75801 11.6917 3.97467 11.2083C4.18022 11.1266 4.34486 10.9665 4.43237 10.7633C4.51989 10.5602 4.52312 10.3305 4.44134 10.125C4.35957 9.91946 4.19949 9.75482 3.99632 9.66731C3.79316 9.57979 3.56355 9.57656 3.35801 9.65834C1.46634 10.4083 0.333008 11.7167 0.333008 13.1667C0.333008 15.5 3.25801 17.3333 6.99967 17.3333C10.7413 17.3333 13.6663 15.5 13.6663 13.1667C13.6663 11.7167 12.533 10.4083 10.6413 9.65834ZM6.16634 7.21667V13.1667C6.16634 13.3877 6.25414 13.5996 6.41042 13.7559C6.5667 13.9122 6.77866 14 6.99967 14C7.22069 14 7.43265 13.9122 7.58893 13.7559C7.74521 13.5996 7.83301 13.3877 7.83301 13.1667V7.21667C8.61856 7.01384 9.30316 6.53148 9.75851 5.86C10.2139 5.18852 10.4087 4.37402 10.3064 3.56917C10.2042 2.76433 9.81196 2.0244 9.2032 1.48807C8.59445 0.951747 7.81098 0.655853 6.99967 0.655853C6.18836 0.655853 5.4049 0.951747 4.79615 1.48807C4.18739 2.0244 3.79514 2.76433 3.69291 3.56917C3.59068 4.37402 3.7855 5.18852 4.24084 5.86C4.69618 6.53148 5.38079 7.01384 6.16634 7.21667ZM6.99967 2.33334C7.32931 2.33334 7.65154 2.43109 7.92562 2.61422C8.19971 2.79736 8.41333 3.05766 8.53947 3.3622C8.66562 3.66674 8.69862 4.00185 8.63432 4.32516C8.57001 4.64846 8.41127 4.94543 8.17818 5.17852C7.9451 5.41161 7.64813 5.57034 7.32482 5.63465C7.00152 5.69896 6.66641 5.66595 6.36187 5.53981C6.05732 5.41366 5.79703 5.20004 5.61389 4.92596C5.43076 4.65187 5.33301 4.32964 5.33301 4.00001C5.33301 3.55798 5.5086 3.13406 5.82116 2.82149C6.13372 2.50893 6.55765 2.33334 6.99967 2.33334Z" fill="currentColor"></path></svg><span class="is-size-6">Warsaw, Poland</span>
            </div>
            <div class="is-flex is-align-items-center">
              <svg class="has-text-primary mr-2" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 16px;height: 16px"><path d="M14.8332 0.333336H3.1665C2.50346 0.333336 1.86758 0.596728 1.39874 1.06557C0.929896 1.53441 0.666504 2.17029 0.666504 2.83334V11.1667C0.666504 11.8297 0.929896 12.4656 1.39874 12.9344C1.86758 13.4033 2.50346 13.6667 3.1665 13.6667H14.8332C15.4962 13.6667 16.1321 13.4033 16.6009 12.9344C17.0698 12.4656 17.3332 11.8297 17.3332 11.1667V2.83334C17.3332 2.17029 17.0698 1.53441 16.6009 1.06557C16.1321 0.596728 15.4962 0.333336 14.8332 0.333336ZM3.1665 2H14.8332C15.0542 2 15.2661 2.0878 15.4224 2.24408C15.5787 2.40036 15.6665 2.61232 15.6665 2.83334L8.99984 6.9L2.33317 2.83334C2.33317 2.61232 2.42097 2.40036 2.57725 2.24408C2.73353 2.0878 2.94549 2 3.1665 2ZM15.6665 11.1667C15.6665 11.3877 15.5787 11.5996 15.4224 11.7559C15.2661 11.9122 15.0542 12 14.8332 12H3.1665C2.94549 12 2.73353 11.9122 2.57725 11.7559C2.42097 11.5996 2.33317 11.3877 2.33317 11.1667V4.73334L8.5665 8.54167C8.69319 8.61481 8.83689 8.65331 8.98317 8.65331C9.12945 8.65331 9.27315 8.61481 9.39984 8.54167L15.6665 4.73334V11.1667Z" fill="currentColor"></path></svg>
              <span class="is-size-6">jane.grant@shuffle.dev</span>
            </div>
          </div>
          <div class="content">
            <a class="button is-primary is-fullwidth is-flex is-justify-content-center is-align-items-center" href="#">
              <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.49989 0.666664C7.40554 0.666664 6.32191 0.882212 5.31086 1.301C4.29981 1.71979 3.38115 2.33362 2.60733 3.10744C1.04453 4.67024 0.166555 6.78986 0.166555 9C0.15927 10.9243 0.825549 12.7904 2.04989 14.275L0.383222 15.9417C0.26759 16.0589 0.18926 16.2077 0.158115 16.3693C0.12697 16.531 0.144405 16.6982 0.208222 16.85C0.277437 16.9999 0.389642 17.1259 0.530594 17.212C0.671546 17.298 0.834889 17.3403 0.999888 17.3333H8.49989C10.71 17.3333 12.8296 16.4554 14.3924 14.8926C15.9552 13.3298 16.8332 11.2101 16.8332 9C16.8332 6.78986 15.9552 4.67024 14.3924 3.10744C12.8296 1.54464 10.71 0.666664 8.49989 0.666664V0.666664ZM8.49989 15.6667H3.00822L3.78322 14.8917C3.93843 14.7355 4.02555 14.5243 4.02555 14.3042C4.02555 14.084 3.93843 13.8728 3.78322 13.7167C2.69204 12.6267 2.01253 11.1921 1.86046 9.65733C1.70839 8.12254 2.09317 6.5825 2.94924 5.2996C3.80531 4.0167 5.07971 3.0703 6.55532 2.62164C8.03092 2.17299 9.61644 2.24983 11.0417 2.83909C12.467 3.42835 13.6439 4.49356 14.3719 5.85324C15.0999 7.21292 15.3339 8.78295 15.0342 10.2958C14.7344 11.8087 13.9193 13.1709 12.7278 14.1502C11.5364 15.1295 10.0422 15.6655 8.49989 15.6667V15.6667ZM12.6666 8.16666H4.33322C4.11221 8.16666 3.90025 8.25446 3.74397 8.41074C3.58769 8.56702 3.49989 8.77898 3.49989 9C3.49989 9.22101 3.58769 9.43297 3.74397 9.58925C3.90025 9.74553 4.11221 9.83333 4.33322 9.83333H12.6666C12.8876 9.83333 13.0995 9.74553 13.2558 9.58925C13.4121 9.43297 13.4999 9.22101 13.4999 9C13.4999 8.77898 13.4121 8.56702 13.2558 8.41074C13.0995 8.25446 12.8876 8.16666 12.6666 8.16666ZM10.9999 11.5H5.99989C5.77887 11.5 5.56691 11.5878 5.41063 11.7441C5.25435 11.9004 5.16655 12.1123 5.16655 12.3333C5.16655 12.5543 5.25435 12.7663 5.41063 12.9226C5.56691 13.0789 5.77887 13.1667 5.99989 13.1667H10.9999C11.2209 13.1667 11.4329 13.0789 11.5891 12.9226C11.7454 12.7663 11.8332 12.5543 11.8332 12.3333C11.8332 12.1123 11.7454 11.9004 11.5891 11.7441C11.4329 11.5878 11.2209 11.5 10.9999 11.5ZM5.99989 6.5H10.9999C11.2209 6.5 11.4329 6.4122 11.5891 6.25592C11.7454 6.09964 11.8332 5.88768 11.8332 5.66666C11.8332 5.44565 11.7454 5.23369 11.5891 5.07741C11.4329 4.92113 11.2209 4.83333 10.9999 4.83333H5.99989C5.77887 4.83333 5.56691 4.92113 5.41063 5.07741C5.25435 5.23369 5.16655 5.44565 5.16655 5.66666C5.16655 5.88768 5.25435 6.09964 5.41063 6.25592C5.56691 6.4122 5.77887 6.5 5.99989 6.5V6.5Z" fill="#8880EB"></path></svg><span class="ml-2">Level 3</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  </div>
</section>