<section class="section">
  <div class="container">
    <div class="is-max-w-md mx-auto mb-6 has-text-centered">
      <span class="tag is-primary is-large is-rounded">
        👍 Sign up
      </span>
      <h2 class="mt-4 title is-spaced">
        Start your Code Challenge journey
      </h2>
      <p class="has-text-grey">
        {{> permission_prompt}}
      </p>
      <div class="mt-6">
        <a href="/login" class="button px-6 py-6 is-warning is-large">
            <span class="icon mr-3">
                <ion-icon name="logo-gitlab" size="large"></ion-icon>
            </span>
            Sign up with GitLab.com ↗️
        </a>
      </div>
      <a href="/login" class="button my-8 is-outlined is-large">
        Login
      </a>
    </div>
  </div>
</section>

{{> howitworks color="primary" hideButton=true}}