<section class="section">
      <div class="box is-relative is-clipped">
        <div
          class="pt-1 has-background-primary"
          style="position: absolute; top: 0; left: 0; width: 100%;"
        ></div>
        <div
          class="is-flex is-justify-content-space-between is-align-items-center"
        >
          <span class="tag is-primary is-large">
            Challenge ID
            {{challengeId}}
          </span>
          <h3 class="title mb-0 is-size-3">
            {{challenge.name}}
          </h3>
          <span class="tag is-link is-large is-light">
            {{signups.length}}
            signups
          </span>
        </div>
        <div class="box">
        <table class="table">
            <thead>
                <th>Signup ID</th>
                <th>User ID</th>
                <th>Name</th>
                <th>Rules Agreement</th>
                <th>Winner</th>
                <th>Created At</th>
            </thead>
            <tbody>
                {{#each signups}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.user_id}}</td>
                        <td>{{this.lastname_fi}}</td>
                        <td>
                            {{#if this.agree_to_rules}}
                                Yes
                            {{else}}
                                No
                            {{/if}}
                        </td>
                        <td>
                          {{#if this.levels_completed}}
                            Yes
                          {{else}}
                            No
                          {{/if}}
                        </td>
                        <td>{{this.created_at}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
      </div>
</section>