<section class="section pt-5 pb-0 mb-0">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/app">Home</a></li>
      <li>
        <a href="/app/challenge/{{challengeId}}">
          Challenge
        </a>
      </li>
      <li class="is-active">
        <a href="/app/challenge/{{challengeId}}/settings" aria-current="page">
          Level
        </a>
      </li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-two-thirds">
      <h4 class="title is-size-4">
        {{#if (isEqual levelId "new")}}
          Add
        {{else}}
          Edit
        {{/if}}
        a Level
      </h4>
      <form
        action="/app/challenge/{{challengeId}}/level/{{levelId}}"
        method="post"
      >
        <input type="hidden" name="challengeId" value="{{challengeId}}" />
        <input type="hidden" name="id" value="{{levelId}}" />

        <div class="field">
          <label class="label">Title</label>
          <div id="ctrlTitle" class="control">
            <input
              class="input"
              type="text"
              placeholder="The title for this level"
              name="title"
              id="txtTitle"
              value="{{level.title}}"
            />
            <p class="help is-danger is-invisible">A title is required</p>
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea
              class="textarea"
              name="description"
              placeholder="Describe this level and how a user can complete it"
            >{{level.description}}</textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="field mr-3">
            <label class="label">Type</label>
            <div class="control" id="ctrlType">
              <div class="select">
                <select name="type" id="selType">
                  {{#select level.type}}
                    <option value="">Select</option>
                    <option value="ISSUE">🐛 Issue</option>
                    <option value="MR">🔀 Merge Request</option>
                    <option value="COMMIT">📝 Commit</option>
                    <option value="PIPELINE">🚧 Pipeline</option>
                    <option value="MANUAL">🧑‍🏫 Manually verified</option>
                  {{/select}}
                </select>
              </div>
              <p class="help is-danger is-invisible">Type is required</p>
            </div>
          </div>
          <div class="field">
            <label class="label">Level Number</label>
            <div id="ctrlLevel" class="control">
              <input
                class="input"
                type="text"
                placeholder="Level number/order"
                name="level"
                id="txtLevel"
                value="{{level.level}}"
              />
              <p class="help is-danger is-invisible">Level is required and
                should be a number</p>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Must contain</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="A string that must be contained in the merge request, issue or commit message"
              name="contains"
              value="{{level.contains}}"
            />
          </div>
          <p class="help">
            Optional: A string that must be contained in the MR, issue or commit
            message to count the level as complete.
          </p>
        </div>

        <div class="field">
          <label class="label">Must be after</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Set a predicate issue number or commit hash as the starting point"
              name="after"
              value="{{level.after}}"
            />
          </div>
          <p class="help">
            Optional: For issues, the issue number that the new issue must be
            greater than. For commits, the hash of a commit as a starting point.
          </p>
        </div>

        {{#if level.badge}}
        <div class="field">
          <label class="label">Badge URL</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="URL for the badge.  You can upload above"
              name="badge"
              value="{{level.badge}}"
            />
          </div>
        </div>
        {{/if}}

        <div class="field is-grouped">
          <div class="control">
            <a
              class="button is-link is-light"
              href="/app/challenge/{{challengeId}}"
            >Cancel</a>
          </div>
          <div class="control">
            <button id="btnSave" class="button is-link">
              {{#if btnTitle}}
                {{btnTitle}}
              {{else}}
                Save
              {{/if}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="column is-one-third">
      {{#if (isEqual levelId "new")}}
        <span></span>
      {{else}}
        <div class="box">
          <h5 class="title is-size-5">
            Award a Badge
          </h5>
          {{#if level.badge}}
            <div class="notification is-warning is-light">
              <button class="delete is-hidden"></button>
              <figure class="image is-128x128 mx-auto">
                <img src="{{level.badge}}">
              </figure>
            </div>
          {{else}}
            {{> levelBadgeForm }}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</section>

{{#section "script"}}
  <script>
    const txtTitle = $('#txtTitle'); 
    const selType = $('#selType');
    const txtLevel = $('#txtLevel');

    txtTitle.keyup(() => $('#ctrlTitle').removeClass('is-invalid')); 
    selType.change(() => $('#ctrlType').removeClass('is-invalid'));
    txtLevel.keyup(() => $('#ctrlLevel').removeClass('is-invalid')); 
    
    $('#btnSave').click(function () {
      let isValid = true;

      if (!(txtTitle.val())) { 
        isValid = false;
        $('#ctrlTitle').addClass('is-invalid');
      }

      if (!(selType.val())) { 
        isValid = false;
        $('#ctrlType').addClass('is-invalid');
      }

      if (!(txtLevel).val() || isNaN(txtLevel.val())) {
        isValid = false;
        $('#ctrlLevel').addClass('is-invalid');
      }
      
      return isValid;
    });
  </script>
{{/section}}