<section class="section py-5">
  <h2 class="title is-size-3 mb-0">
    {{user.name}}'s Profile
  </h2>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-half">
      <div class="box">
        <h3 class="title is-size-4 mb-2">Public Profile</h3>
        <p>
          Your public profile is available at <br/>
          <a href="/u/{{user.gitlab_handle}}">
            <code>
              {{BASE_URL}}/u/{{user.gitlab_handle}}
            </code>
          </a>
        </p>
      </div>
      <article class="message is-info">
        <div class="message-header">
          <p>Preview</p>
        </div>
        <div class="message-body">
          {{> userprofile}}
        </div>
      </article>
    </div>
    <div class="column">
      <div class="box">
        <h3 class="title is-size-4 mb-2">Edit Profile</h3>
        {{> comingsoon }}
      </div>
    </div>
  </div>
</section>